<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <!-- xml namespace -->
<head>
    <meta charset="UTF-8">
    <title>luv2code Company Home Page</title>
</head>
<body>

    <h2> luv2code Company Home Page </h2>
    <hr> <!-- this is a line -->



    <p>Welcome to the luv2code company home page</p>

    <hr>

    <!-- display user name and role -->
    <p>
        User: <span sec:authentication="principal.username"></span> <!-- sec from extras spring security -->
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span> <!-- authorities same as user roles -->

    </p>

    <hr>




    <div sec:authorize="hasRole('MANAGER')"> <!-- based on roles tags -->

    <!-- Add a link to point to /leaders ... this is for the managers -->
    <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (Only for Manager people)

    </p>

    </div>





    <div sec:authorize="hasRole('ADMIN')"> <!-- based on roles tags -->

    <!-- Add a link to point to /systems ... this is for the admins -->

    <p>
        <a th:href="@{/systems}">IT Systems Meeting</a>
        (Only for Admin people)

    </p>

    </div>






    <!-- Add a logout button -->
    <form action="#" th:action="@{/logout}" method="POST">

        <input type="submit" value="Logout" />

    </form>



</body>
</html>